.main__class{
    display: flex;
    /* background-color:beige; */
    justify-content: space-between;
    margin: 0 6rem;
    text-align: center;
}



.main__av{
    margin: 1rem 0; 
}

.main_av__header{
    text-align: center;
}

.main_av__header h3{
    color: blue;
}

.main__left{
    width: 50rem;
    background-color: black;
    /* margin: 1rem; */
}

.main__center{
    border: 1px solid green;
    margin-left: 1rem;
    padding: 1rem;
    /* background-color: blueviolet; */
}

.main__center h3{
    margin-bottom: 1rem;
}

.main__center li {
    text-align: left;
}
.main__left h3{
    margin: 1rem;
    color: red;
}

.main__center p{
    margin-top: 1rem;
    text-align: left;
}


.main__right{
    width: 50rem;
    margin-left: 1rem;
    /* background-color: aquamarine; */
}

.main__right h3{
    color: red;
    margin-top: 0.5rem;;
}

.icons__main{
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.icons_images{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin: 0 1rem;
}

.image {
    width: auto;
    height: auto;
    /* max-height: 50rem; */
    overflow: hidden;
}

.image__icon{
    width: auto;
}
  
.image img {
  object-fit: cover;
  object-position:top;
  width: 100%;
  height: 100%;
}

.main__center h3{
    text-align: center;
    color: red
}

.main__center p {
    margin: 0 1rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .main__class{
        display:block;
        margin: 0
    }

    .image{
        width: 28rem;
        height: 30rem;
    }

    .main__center{
        width: 28rem;
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;
    }
    .main__left{
        width: 28rem;
        margin: 0;
        padding: 0;
    }

    .main__right{
        width: 28rem;
        margin: 0;
        padding: 0;
    }


    .icons_images{
        justify-content: center;
        margin: 0 0.5rem;
        /* background-color: aqua; */
    }

    .icons__main{
        margin: 0;
    }
}