.form {
    /* background-color: grey; */
    display:flex;
    justify-content: center;
    width: auto;
    margin: 0px 6rem;
    padding:0
    /* padding: 1rem 0; */
  }

  .control {
    margin: 0 ;
    padding: 0 1rem;
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.labelinput {
  margin-left: 2rem;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    /* grid-column: auto; */
    margin: 1rem 3rem;
  }

  .h3{
    font-size: small;
  }

}