.form {
    /* background-color: grey; */
    display:flex;
    justify-content: center;
    width: auto;
    margin: 0px 6rem;
    padding:0
    /* padding: 1rem 0; */
  }

  .control {
    margin: 0 ;
    padding: 0 1rem;
    flex: 1;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.labelinput {
  margin-left: 2rem;
  padding: 0 5px;
}

.topcontent{
  margin: 0.5rem 5rem;
  align-items: center;
  text-align: center;
  align-content: center;
  /* display: inline-flex; */
}

.formsubmitbutton{
  align-content: center;
}

.formresetbutton{
  align-content: center;
  margin-left: 50rem;
}

@media (max-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    /* grid-column: auto; */
    margin: 1rem 3rem;
  }

  .h3{
    font-size: small;
  }

  .labelinput{
    margin-top: 0.5rem;
  }

  .topcontent {
    margin: 1rem 1.5rem;
    text-align: 'center'
  }

  .formsubmitbutton{
    margin: 0.5rem 0 0 10rem ;
    align-content: center;
    align-self: center;
  }

  .formresetbutton{
    margin: 0.5rem 0 0 11rem ;
    align-content: center;
    align-self: center;
  }
}