.post {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /* background-color: var(--color-grey-800); */
    text-align: center;
    margin: 0.5rem ;
    width: 20rem;
    padding: 0.5rem 0;
}

.image {
    width: 20rem;
    max-height: 20rem;
    overflow: hidden;
}

.image img {
    object-fit: cover;
}

@media (max-width: 768px) {
    .post{
        width: 20rem;
        margin: 0;
        display: block;
    }

    .image {
        width: 20rem;
    }
}